<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <Th>id</Th>
        <Th>mã cầu thủ</Th>
        <Th>họ và tên</Th>
        <Th>ngày sinh</Th>
        <Th>kinh nghiệm</Th>
        <Th>vị trí</Th>
        <Th>ảnh đại diện</Th>
    </tr>
    <tr th:each="e ,status: ${cart.getMap()}">
        <td th:text="${e.key.fullName}"></td>
        <td th:text="${e.key.date}"></td>
        <td th:text="${e.key.experience}"></td>
        <td th:text="${e.key.position}"></td>
        <td th:text="${e.key.code}"></td>
        <td th:text="${e.key.team}"></td>

<!--        <td><a th:href="@{delete/(id=${id})}">xoá</a></td>-->

    </tr>
</table>
</body>
</html>