<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <Th>id</Th>
        <Th>mã cầu thủ</Th>
        <Th>họ và tên</Th>
        <Th>ngày sinh</Th>
        <Th>kinh nghiệm</Th>
        <Th>vị trí</Th>
        <Th>ảnh đại diện</Th>
    </tr>
    <tr th:object="${playerSoccer}">
        <td th:text="*{fullName}"></td>
        <td th:text="*{date}"></td>

<!--        <td><a th:href="@{delete/(id=${id})}">xoá</a></td>-->

    </tr>
</table>
</body>
</html>