<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${playSoccer}" action="/edit" method="post">
    <input type="hidden" th:field="*{id}">
    mã cầu thủ
    <input th:field="*{code}">
    họ và tên
    <input th:field="*{fullName}">
    ngày sinh
    <input th:field="*{date}">
    kinh nghiệm
    <input th:field="*{experience}">
    vị trí
    <select th:field="*{position}">
        <option th:each="p :${list}" th:value="${p.id}" th:text="${p.name}"></option>
    </select>
    <select th:field="*{team}">
        <option th:each="p :${listTeam}" th:value="${p.id}" th:text="${p.name}"></option>
    </select>
    ảnh
    <input th:field="*{image}">
    <button type="submit">lưu</button>
</form>
</body>
</html>