<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="untill :: header"></div>
<form action="/" method="get">
<div>tìm theo tên</div>
<input name="searchName">
<input type="submit">

</form>
<form action="/" method="get">
    <div>tìm theo tuổi</div>
    <input type="date" name="startDay">
    <input type="date" name="endDay">
    <input type="submit">
</form>
<table>
    <tr>
        <Th>mã cầu thủ</Th>
        <Th>họ và tên</Th>
        <Th>vị trí</Th>
        <th>team</th>
        <th>trạng thái</th>
        <th>anh</th>
        <th>xem chi tiết</th>
        <th>team</th>
        <th>xoá</th>
    </tr>
    <tr th:each="player,status:${list}">
        <td th:text="${player.code}"></td>
        <td th:text="${player.fullName}"></td>
        <td th:text="${player.position.name}"></td>
        <td th:text="${player.team.name}"></td>
        <td th:text="${player.status.name}"></td>
        <td><img th:src="${player.image}" alt="mều" style="width: 4rem;height: 4rem"></td>
        <td><a th:href="@{showDetail/(id=${player.id})}">xem chi tiết</a></td>
        <td><a th:href="@{delete/(id=${player.id})}">xoá</a></td>
        <td><a th:href="@{showEdit/(id=${player.id})}">edit</a></td>
    </tr>
</table>
<a th:if="${list.hasPrevious()}" th:href="@{/(page=${list.number-1},size=${size},searchName=${searchName},startDay=${startDay},endDay=${endDay})}">Prev</a>
<span th:text="${list.number+1}"></span>/
<span th:text="${list.totalPages}"></span>
<a th:if="${list.hasNext()}" th:href="@{/(page=${list.number+1},size=${size},searchName=${searchName},startDay=${startDay},endDay=${endDay})}">next</a> <br>
<!--model.addAttribute("startDay", startDay);-->
<!--model.addAttribute("endDay", endDay);-->
<a href="showCreate">thêm mới</a>
<form action="/" method="get">
    <div>thay doi so luong cua trang</div>
    <input th:value="${size}" name="size">
    <input type="submit">

</form>
<div th:replace="untill :: footer"></div>
</body>
</html>